<!DOCTYPE html>
<html>
  <head>
    <title>Digital Wesleyan Fellowship</title>
    <link href="students.css" rel="stylesheet"/>
    <link href="./fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="header">
      <div class="headshot"></div>
      <img src="#"/>
      <h1 class="name">Erik Islo</h1>
      <ul class="social">
        <li><a href="https://twitter.com/jacthinman">
          <i class="fa fa-twitter fa-lg"></i>
        </a></li>
        <li><a href="https://www.linkedin.com/pub/erik-islo/42/844/790/">
          <i class="fa fa-linkedin fa-lg"></i>
        </a></li>
        <li><a href="https://github.com/jacthinman">
          <i class="fa fa-github fa-lg"></i>
        </a></li>
        <li><a href="http://www.eriki.net">
          <i class="fa fa-user fa-lg"></i>
        </a></li>
      </ul>
    </div>
    <div class="about">
      <h2>About</h2>
      <ul>
        <li>Majors: Computer Science, Science in Society</li>
        <li>Graduation Year: 2015</li>
        <li>Hometown: Milwaukee, Wisconsin</li>
      </ul>
      <h2>Bio</h2>
      <p>Erik is an aspiring software engineer with strong interests in usability and user experience design.</p>
    </div>
    <div class="project">
      <h2>Project</h2>
      <h3>COMING SOON!</h3>
    </div>
  </body>
</html>